GEMINI_API_KEY=
GEMINI_MODEL=
CHROMA_DB_PATH=
CHUNK_SIZE=
CHUNK_OVERLAP=
TOP_K=
TEMPERATURE=
MAX_TOKENS=
SESSION_TIMEOUT=
SESSION_CLEANUP_INTERVAL=


JINA_API_KEY=
EMBEDDING_PROVIDER=
EMBEDDING_MODEL=

ENABLE_RERANKER=
RERANKER_PROVIDER=
RERANKER_MODEL=