Django
djangorestframework
django-cors-headers

chromadb

google-genai

httpx
requests

numpy
pandas
openpyxl
python-docx
pymupdf

python-dotenv

gunicorn
whitenoise

apscheduler

python-jose
bcrypt

aiohttp

unstructured
unstructured-client

python-multipart

pydantic
pydantic-settings

RapidFuzz

langdetect

tqdm